<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="icybee/module-users">
			<directory>./tests/lib</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./lib</directory>
			<exclude>
				<directory suffix=".php">./lib/Block</directory>
				<directory suffix=".php">./lib/Operation</directory>
				<directory suffix=".php">./lib/Routing</directory>
				<file>./lib/View.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
